
@media (max-width: 991px) {
    .container {
        max-width: 743px;
    }
    .title {
        font-size: 28px;
    }
    .header {
        &__logo {
            width: 200px;
            img {
                width: 100%;
            }

        }
        &__official {
            margin-right: 30px;
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {
        min-height: 608px;
        padding: 21px 0 50px 0;
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            margin-top: 44px;
            width: 370px;
        }
    }
    .advantages {
        padding: 42px 0 70px 0;
        min-height: 406px;
        &__wrapper {
            margin-top: 40px;
        }
        &__subtitle {
            font-size: 16px;
            margin-top: 20px;
        }
        &__descr {
            font-size: 13px;
            margin-top: 20px;
        }
        &__item {
            width: 224px;
        }
    }
    .consultation {
        min-height: 585px;
        padding: 70px 0 55px 0;
        .title {
            font-size: 34px;
        }
        &__descr {
            margin-top: 35px;
        }
    }
    .carousel {

        .tns-item {
            img {
                width: 640px;
                height: auto;
            }
        }
    }
    .catalog-item {
        width: 240px;
        height: auto;
        padding: 13px 14px 10px 14px;
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
            line-height: 15px;
        }
        &__list {
            li {
                font-size: 12px;
            }
        }
        &__footer {
            flex-direction: column;
            text-align: center;
        }
        &__prices {
            margin-bottom: 10px;
        }
        hr {
            bottom: 120px;
        }
    }
    .footer {
        &__info {
            width: 400px;
            height: 235px;
            padding: 25px 30px 38px 30px;
        }
    }
    }

@media (max-width:767px) {
    .container {
        max-width: 540px;
    }
    .title {
        font-size: 25px;
    }
    .header {
        &__logo {
            width: 160px;
        }
        &__official {
            font-size: 10px;
            margin-right: 15px;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            display: none;
        }
    }
    .promo {
        min-height: 560px;
        &__wrapper {
            align-items: center;
            margin-top: 70px;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 18px;
        }
        &__icon {
            font-size: 13px;
        }
        .button {
            &_main {
                margin-top: 40px;
                width: 280px;
            }
        }
    }
    
    .advantages {
        padding: 32px 0 50px 0;
        min-height: 360px;
        &__wrapper {
            margin-top: 30px;
        }
        &__item {
            width: 170px;
        }
        &__icon {
            width: 50px;
        }
        &__subtitle {
            font-size: 14px;
            margin-top: 16px;
        }
        &__descr {
            font-size: 12px;
            br {
                display: none;
            }
        }
    }

    .consultation {
        min-height: 555px;
        .title {
            text-align: center;
            font-size: 24px;
        }
        &__descr {
            text-align: center;
            font-size: 19px;
        }
        .feed-form {
            width: 380px;
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .carousel {
        padding: 50px 0 20px 0;
        .tns-item {
            img {
                width: 460px;
                height: auto;
            }
        }
    }
    .comment {
        &__item {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 30px auto;
        }
        &__foto {
            margin-right: 0;
            margin-bottom: 20px;
        }
        &__title {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            width: 160px;
            font-size: 16px;
        }
        &__content {
            margin-top: 50px;
        }
        &-item {
            width: 263px;
        }
    }
    .footer {
        height: 500px;
        &__info {
            width: 300px;
            height: 180px;
            padding: 25px 15px;
        }
        &__addr {
            font-size: 16px;
            margin-bottom: 16px;
        }
        &__phone {
            font-size: 20px;
        }
        &__social {
            margin-top: 18px;
            &-item {
                width: 45px;
                height: 45px;
                margin: 0 20px;
            }
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 300px;
    }
    .header {
        flex-direction: column;
        height: 200px;
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 16px;
            margin-right: 0;
            span {
                font-size: 24px;
            }
        }
        &__contacts {
            justify-content: space-between;
            align-items: center;
            height: 65px;
            .button {
                width: 195px;
            }
        }
        &__phone {
            display: block;
            font-size: 22px;
        }
    }
    .promo {
        &__wrapper {
            justify-content: center;
            margin-top: 40px;
            margin-right: 0;
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 13px;
        }
        &__icons {
            width: 320px;
            margin-top: 30px;
            padding: 0 15px;
            margin-right: 0;
        }
        &__icon {
            font-size: 12px;
            img {
                margin-bottom: 12px;
                max-width: 35px;
            }
        }
    }
    .advantages {
        padding: 30px 0 35px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 5px;
        }
        &__item {
            width: 247px;
            margin-top: 17px;
        }
        &__icon {
            width: 70px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__descr {
            font-size: 14px;
            br {
                display: initial;
            }
        }
    }
    .consultation {
        min-height: 555px;
        padding: 50px 0;
        .title {
            font-size: 20px;
        }
        &__descr {
            font-size: 15px;
        }
        .feed-form {
            width: 270px;
        }
    }
    .carousel {
        .prev, .next {
            display: none;
        }
    }
    .catalog {
        padding-bottom: 40px;
        &__tabs {
            flex-direction: column;
            margin-top: 20px;
        }
        &__tab {
            width: 250px;
            font-size: 18px;
            margin-bottom: 10px;
        }
        &__content {
            margin-top: 30px;
            justify-content: center;
            align-items: center;
        }
        &-item {
            width: 100%;
            &__subtitle {
                padding: 0 15px;
            }
        }
    }
    .comment {
        &__item {
            margin: 15px auto;
        }
        &__descr {
            font-size: 14px;
        }
    }
    .modal {
        width: 300px;
        padding: 25px;
        min-height: 385px;
        &__close {
            right: 0px;
            top: -25px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            font-size: 12px;
            margin-top: 10px;
        }
        .feed-form {
            width: 252px;
        }
        .button {
            font-size: 15px;
        }
    }
    .pageup {
        bottom: 68px;
        right: 4px;
    }
}
