*	{
	font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
	position: relative;
	max-width: 950px;
	margin: 0 auto;
}

@import 'base/variables';
@import 'base/titles';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/comment';
@import 'blocks/footer';
@import 'base/media';
@import 'blocks/modal';