.carousel {
    padding: 108px 0 24px 0;
    &__inner {
        position: relative;
        width: 750px;
        height: auto;
        margin: 0 auto;
        img {
            width: calc(100% - 100px);
            height: auto;
        }
        &_mini {
            width: 260px;
            img {
                width: 260px;
            }
        }
    }
    .prev, .next {
        margin: 0;
        padding: 0;
        border: 0;
        outline: none;
        background-color: transparent;
        position: absolute;
        top: 44%;
        transform: translateY(-50%);
        left: 0;
        border: none;
        width: 31px;
        height: 50px;
        img {
            -webkit-transition: 0.3s all;
            -moz-transition: 0.3s all;
            transition: 0.3s all;
            &:hover {
                -webkit-filter: drop-shadow( 0 0 2px $main_color );
                filter: drop-shadow( 0 0 2px $main_color);
                -webkit-transition: 0.3s all;
                -moz-transition: 0.3s all;
                transition: 0.3s all;
            }
        }
    }
    .next {
        right: 0px;
        left: auto;
    }
    .tns-item {
        img {
            display: block;
            margin: auto;
        }
    }
}