.carousel {
    padding: 108px 0 24px 0;
    &__inner {
        position: relative;
        width: 750px;
        height: auto;
        margin: 0 auto;
    }
    .prev, .next {
        margin: 0;
        padding: 0;
        border: 0;
        outline: none;
        background-color: transparent;
        position: absolute;
        top: 44%;
        transform: translateY(-50%);
        left: 0;
        border: none;
        width: 31px;
        height: 50px;
    }
    .next {
        right: 0px;
        left: auto;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}